*.py[co]
.DS_Store
_build
build
dist
*.egg-info
*~
*.bak
*.swp
.ipynb_checkpoints/
.cache
.pytest_cache/

# --- data files:
*.json
*.h5
*.pkl
*.pkl.gz
*.tar.gz

# --- nengo_gui files:
*.py.cfg

nengo.simulator.logs/
nengo.simulator.analytics/
nengo.simulator.plots/

# --- IDE files:
.idea
.vscode
